/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* On to our specific CSS */

body {
  padding: 20px 100px;
  line-height: 1.15;
}

#content {
  background-color: #f6f6ef;
  padding: 2em 3em;
}

#main_form {
  margin-bottom: 1em;
}

#main_form li {
  margin-bottom: .5em;
}

#main_form li label {
  display: inline-block;
  text-align: right;
  min-width: 5em;
}

#main_form li input[type=text] {
  display: inline-block;
  width: 75em;
  padding: .25em;
}

#results h2 {
  margin-bottom: 1.5em;
}

#results li {
  margin-bottom: 1.5em;
  max-width: 80%;
}

#results h3 {
  margin-bottom: .5em;
}

section {
  margin-bottom: 1em;
}

