extends layout


block content
  ul#main_form
    li
      form(method='get', action='/start', name='search')
        label(for='search') Search Term or URL
        input(type='text', id='val', name='val', placeholder='<Search Term> or <http://site-to-index.com>')
        input(type='submit', value='Start')


  if url
    include saving

  if search_text
    include results

